
@{
    ViewBag.Title = "About";
}
<div class="row">
     <div class="col-sm-12">
         <div class="jumbotron">
             <h4> Hello My name is Parth Patel.</h4>
             <p class="lead"> The largest community of developers.</p>
         </div>
     </div> 
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light"> Founded in 2020</div>
            <div clss="card-body">
                Parth's stackOverflow project is founded in 2020 and trusted community for developer to learn, share and build 
                their career. More than 50 million developers and experts have visited <strong><i>"StackOverflow"</i></strong> to solve
                their coding problems.
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
               <strong><i>StackOverflow</i></strong> partners with many businesses to help them understand and hire developers. 
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="card">
        <div class="card-header"> StackOverflow Offices</div>
        <div class="card-body">
            StackOverflow has only one official location as of now. For more information Contanct <strong>@@Email</strong>
        </div>
    </div>
</div>


<script>
    $("a[href='/home/about']").attr("id", "active");
</script>

